*{
 margin: 0px;
 padding: 0px;
}
ul {
  /*padding:20px;*/
  font-size: 13px;
  padding-left: 20px;
}
li {color:white}
h1 {color:white}
p {
  color:white;
  font-size: 13px;
  margin-top: 10px;
}
.blue {
  color:#6ADCDE;
  text-decoration: underline;
}
.purp {
  color: #7D88F3;
}
#background{
  width: 970px;
  height:auto;
  background-color: #1C335D;
  padding: 8px;
}
#header{
  background-color: #CE3035;
  padding-top: 20px;
  padding-left: 20px;
  color: white;
  height: 55px;
  font-size: 32px;
  border-radius: 20px;
}
#middle{
  padding-top:20px;
  padding-bottom:20px;
  display: inline-block;
}
#navigator{
  background-color: #297D8C;
  border-radius: 50px;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
}
#main_content{
  background-color: #0E1821;
  border-radius: 50px;
  margin-left: 17px;
  padding: 20px;
  width: 74%;
  display: inline-block;
}
#more_info{
  background-color: #5E6673;
  color:white;
  height: 35px;
  padding-top: 20px;
  padding-left: 30px;
  border-radius: 20px;
}
